@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

[data-testid="stMetricDelta"] p {
    font-family: 'Noto Sans Thai Looped', sans-serif !important;
    font-size: 16px;
}

.stSelectbox label, .stSelectbox div[data-baseweb="select"] * {
    font-family: 'Noto Sans Thai Looped', sans-serif !important;
    font-size: 16px;
}

/* Hide Metric Arrow */
[data-testid="stMetricDelta"] svg {
        display: none;
}

.stMarkdownBadge {
    font-size: 40px !important;
}   

.text, .li {
    font-family: 'Noto Sans Thai Looped', sans-serif !important;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Thai', sans-serif !important;
    font-weight: 600;
}

body, text, p {
    font-family: 'Noto Sans Thai Looped', sans-serif !important;
    font-size: 16px;
}