@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Thai', sans-serif !important;
}

body, text, p {
    font-family: 'Noto Sans Thai Looped', sans-serif !important;
    font-size: 16px;
}